@charset 'utf-8';

@mixin bookMark_nav {
    width: 200px;
    height: 50px;
    margin: 10px;
    position: relative;
    left: -100px;

    border-radius: 3px;
    border-right: 10px solid lightskyblue;

    & .nav_word {
        text-align: center;
        position: absolute;
        top: 5px;
        left: 100px;

        color: rgb(65, 49, 158);
    }
    &:hover {
        left: -20px;
        transition: 1s ease;
    }
}